<span>
  <%= render(
        ExplorerWeb.AddressView,
        "_link.html",
        address_hash: @from_address_hash,
        contract: false,
        locale: @locale
      ) %>
  &rarr;
  <%= render(
        ExplorerWeb.AddressView,
        "_link.html",
        address_hash: @to_address_hash,
        contract: false,
        locale: @locale
      ) %>
</span>
